@import "./reset.css";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;800&display=swap');

/* Variables */
:root{
    --black: #000000;
    --black-transparent: #00000020;
    --turquoise: #A2B4AC60;
    --turquoise-transparent: #A2B4AC10;
    --gray: #67827A;
    --bolotny: #51624F;
    --bolotny-transparent: #51624F60;
    --bej: #E6D5AA80;
}

/* Global styles */
*{
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

hr{
    border-top: 0;
    border-bottom: 1px solid var(--black-transparent);
    margin: 18px 465px;
}

a{
    color: var(--gray);
    transition: color 0.2s ease;
}

a:hover{
    color: var(--bej);
}

/* Components */
.tag{
    font-weight: 800;
    font-size: 24px;
    line-height: 39px;
    margin: 0 0 2px 0;
    text-align: center;
    color: var(--bolotny);
}

.heading1{
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    margin: 0 0 2px 0;
    text-align: center;
    color: var(--black);
}

.body{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 19px 0;
    text-align: center;
    color: var(--black);
}

.btn{
    width: 320px;
    height: 70px;
    margin: 18px;
    background: var(--bolotny-transparent);
    border-radius: 30px;
    border: none;
}

.btn-primary{
    font-weight: 300;
    font-size: 28px;
    line-height: 44px;
    text-align: center;
}

.label{
    display: block;
    margin: 10px;
}

.input{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    background: var(--turquoise);
    border-radius: 30px;
    border: none;
}

/* Layout */